@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


.brands{
    margin-top: 10%;
}

.brands h1{
    font-family: 'Teko', sans-serif;
    font-size: 60px;
}

.container{
    color: #fff;
}

.row{
    display: flex;
    flex-direction: row;
}

.part-img{
    width:100px;
}

.partners img{
    margin-left: 10px;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
}